body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #ffeafe;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-text {
    text-align: center;
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%); 
}

#muiskText {
    font-size: 24px;
    color: #ff69b4;
    text-align: center;
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    top: -20px; 
}

.floating-image img {
    width: 200px;
    height: auto;
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

button {
    background-color: #ff69b4;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e64980;
}
